/* Vendor */
@import "susy";
@import "su";
/* Setup */
@import "reset";
@import "mixins";
@import "variables";
@import "fonts";
@import "globals";
@import "header";
@import "homepage";
@import "sidebar";
@import "footer";

body {
  //color: red;
  //background-color:blue;
}

#testli {
  margin: 0 auto;  
  margin-top: 40px;
  color:red;
  font-size: 3em;
}
