/* Vendor */
@import "~semantic-ui-css/semantic.min.css";
/* Setup */
@import "reset";
@import "mixins";
@import "variables";
@import "fonts";
@import "globals";
@import "header";
@import "homepage";
@import "sidebar";
@import "footer";

body {
  //color: red;
  //background-color:blue;
}

h1.ui.segment.stacked {
  font-size: 1.5em;
  margin: 0;
  padding: 0 20px;
}

p#testli {
  color: orange;
}
